html{
    background-color: rgb(242, 242, 194);
}

.body{
    background-color: rgb(252, 252, 252);
}

.header{
    background-image: url("images/3-fruit.jpg");
    height: 250px;
    background-size: cover;
}

.site-id{
    text-align: center;
    background-color: rgba(255, 255, 255, 50%);
    border-top: 4px solid rgb(151, 6, 6);
    padding: 10px;
}

.h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.h2-2{
    margin-top: 50px;
    margin-bottom: 20px;
}