html{
    background-color: rgb(242, 205, 194);
}

.body{
    background-color: rgb(252, 252, 252);
}

.header{
    background-image: url("images/3-fruit.jpg");
    height: 250px;
    background-size: cover;
}

.site-id{
    text-align: center;
    background-color: rgba(252, 170, 170, 0.5);
    border-top: 4px solid rgb(133, 0, 0);
    padding: 10px;
}

.h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.h2-2{
    margin-top: 50px;
    margin-bottom: 20px;
}